name: CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build-and-push-docker:
        name: Build and Push Docker Image
        runs-on: ubuntu-latest
        needs: build-and-test
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        env:
            IMAGE_NAME: roshan798/mernstack_order_service
            IMAGE_TAG: ${{ github.ref_name }}-build-${{ github.run_number }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_PASSWORD }}

            - name: Build Docker Image
              run: docker build --no-cache -t $IMAGE_NAME:$IMAGE_TAG --platform linux/amd64 -f docker/prod/Dockerfile .

            - name: Push Docker Image
              run: docker push $IMAGE_NAME:$IMAGE_TAG
